<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - Система записи</title>    
    <meta name='description' content='Главная страница - Система записи' />
    <meta name='keywords' content='Система записи' />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'consultant_menu/css/style.css' %}?v=2">
</head>
<!-- <header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header__logo">CallMe<span>Saas</span></a>
            <ul class="header__menu menu">
                <li class="menu__item">Работа</li>
                <li class="menu__item">Календарь</li>
                <li class="menu__item">О нас</li>
                <li class="menu__item">Контакты</li>
                <li class="menu__item">Отзывы</li>
            </ul>
            <button class="_btn header__btn">
                <span>Записаться</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M11 5H13V7H11V5Z"></path>
                    <path d="M5 5H7V7H5V5Z"></path>
                    <path d="M14 8H16V10H14V8Z"></path>
                    <path d="M8 8H10V10H8V8Z"></path>
                    <path d="M17 11H19V13H17V11Z"></path>
                    <path d="M11 11H13V13H11V11Z"></path>
                    <path d="M14 14H16V16H14V14Z"></path>
                    <path d="M8 14H10V16H8V14Z"></path>
                    <path d="M11 17H13V19H11V17Z"></path>
                    <path d="M5 17H7V19H5V17Z"></path>
                </svg>
            </button>
        </div>
    </div>
</header> -->
